.waku1 {background: white; color:black;}
.waku2 {background: #444444; color: white;}
.waku3 {background: #e95556; color: white;}
.waku4 {background: #416cba; color: white;}
.waku5 {background: #e7c52c; color: white;}
.waku6 {background: #45af4c; color: white;}
.waku7 {background: #ee9738; color: white;}
.waku8 {background: #ef8fa0; color: white;}

.rank1 {background:#fff080}
.rank2 {background:#ccdfff}
.rank3 {background:#f0c8a0}

.bg-dad {background: #ccefff;}
.bg-mam {background: #ffdbd5;}

.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
