.horse-spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("/img/wait-horse.gif");
    background-position: center;
    background-repeat: no-repeat;
}
